html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
}
li {
  list-style: none; 
}
label{
  font-size: 20px;
}
.allHashtag {
  /* background-color: aqua; */
  width: 400px;
  height: 100px;
  display: inline-block;
}


.hashLink {
  color: rgb(83, 75, 75);
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 3px;
}
.hashLink:after {
  content: 'X'; /* ANSI X letter */
}
.hash {
  background: rgb(131, 127, 127);
  border: 1px solid #ccc;
  border-radius: 20px;
  float: left;
  height: 20px;
  margin: 20px;
  position: relative;
  width: 150px;
}



.sub {
  position: absolute;
  z-index:1;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

ul.navb li:hover ul {
  display: block;
  float:none;
}


.theLink {
  float: right;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  /* display: inline-block; */
  /* text-align: left; */
}
.profilPic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profilPicBig {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.theNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.theNav li {
  float: left;
}

.theNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
}

.theNav li a:hover:not(.active) {
  background-color: rgb(0, 0, 0);
}


.card {
  border-radius: 8px;
}
.card-img-top {
  border-radius: 8px;
}
.leForm{
  background-color: #fafafaad;
}
.col1 {
  margin-left: 30px;
}
.cardList {
  display: inline;
  margin: 10px;
}
.inBrowse {
  width: 50px;
}
.grid-container {
  grid-gap: 2px 5px;
  padding: 50px;
}
.row1 {
  margin-left: 7vw;
  margin-right: 7vw;
}
.form-control{
  display: inline;
}
.regis {
  position: absolute;
  margin-top: 35vh;
  height: 50vh;
  width: 70vh;
  align-content: center;
}
.container {
  max-height: 100vh;
  margin: 0 auto;
  }
.ring-container {
  position: relative;
  margin-left: 100px;
  margin-top: 0px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #62bd19;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
}

.ringring {
  border: 3px solid #62bd19;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 18px;
  top: 18px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1);opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2);opacity: 0.0;}
}
  section.section:last-child {
    margin-bottom: 0;
  }
  section.section h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
  }
  section.section p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
  }
  section.section p:last-child {
    margin-bottom: 0;
  }
  section.section.content {
    padding: 40px 0;
  }
  section.section.parallax {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  section.section.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 1600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  section.section.parallax-1 {
     background-image: url("https://assets.teenvogue.com/photos/56afec6b0d9a339972e95d92/16:9/w_1280,c_limit/valentines-dates.jpg"); 
  }
  section.section.parallax-2 {
    background-image: url("https://www.yourtango.com/sites/default/files/styles/listing_big/public/image_blog/double_date.jpeg?itok=SAVKg2Eh");
  }
  section.section.parallax-3 {
    background-image: url("https://metromorphos.files.wordpress.com/2014/02/picnic-date.jpg");
  }
  section.section.parallax-4 {background-image: 
    url('https://c8.alamy.com/compfr/ab3hm2/jesus-les-personnes-nues-homme-hommes-femme-femmes-peinture-ab3hm2.jpg');
  }
  @media all and (min-width: 600px) {
    section.section h2 {
      font-size: 42px;
    }
    section.section p {
      font-size: 20px;
    }
    section.section.parallax h1 {
      font-size: 96px;
    }
  }
  @media all and (min-width: 960px) {
    section.section.parallax h1 {
      font-size: 160px;
    }
  }