html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
}
.regis {
  position: absolute;
  margin-top: 20vh;
  height: 50vh;
  width: 70vh;
  align-content: center;
}
.container {

    max-height: 100vh;
    margin: 0 auto;
  }
  section.section:last-child {
    margin-bottom: 0;
  }
  section.section h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
  }
  section.section p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
  }
  section.section p:last-child {
    margin-bottom: 0;
  }
  section.section.content {
    padding: 40px 0;
  }
  section.section.parallax {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  section.section.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 1600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  section.section.parallax-1 {
     background-image: url("https://assets.teenvogue.com/photos/56afec6b0d9a339972e95d92/16:9/w_1280,c_limit/valentines-dates.jpg"); 
  }
  section.section.parallax-2 {
    background-image: url("https://www.yourtango.com/sites/default/files/styles/listing_big/public/image_blog/double_date.jpeg?itok=SAVKg2Eh");
  }
  section.section.parallax-3 {
    background-image: url("https://metromorphos.files.wordpress.com/2014/02/picnic-date.jpg");
  }
  @media all and (min-width: 600px) {
    section.section h2 {
      font-size: 42px;
    }
    section.section p {
      font-size: 20px;
    }
    section.section.parallax h1 {
      font-size: 96px;
    }
  }
  @media all and (min-width: 960px) {
    section.section.parallax h1 {
      font-size: 160px;
    }
  }